// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin-top: 50px;
  background-color: $ghost-white;
  font-family: 'Zen Loop', cursive;
}

img {
  display: block;
  margin: 10px;
}


